cloud_id = "fewfwew6e45fw6f"
folder_id = "woefoiwejfoiwe"
image_id = "porieofjoerijverno"
subnet_id = "ekwehfiwefhiweuhf"
public_key_path = "id_rsa.pub"
service_account_key_file = "key.json"
private_key = "id_rsa"
app_disk_image           = "fwiufhiwihfiwu"
db_disk_image            = "ehvejejehueieu"
access_key = "wjhfwi"
secret_key = "iefuhe"
bucket_name = "ejkejvkl"
